<form (ngSubmit)="onSubmit()">
    <div class="fondo">
      <div class="selector">
        <div class="n">
          <p>Selecciona el centro deseado</p>
          <select [(ngModel)]="centroSeleccionado" name="centro" required>
            <!-- Usando *ngFor para iterar sobre los elementos de centr -->
            <option *ngFor="let centro of centros.trendapi" [value]="centro.id">{{ centro.nombre }}</option>
          </select>
        </div>
        <div class="n">
          <p>Selecciona una hora</p>
          <select [(ngModel)]="horaSeleccionada" name="hora" required>
            <!-- Usando *ngFor para iterar sobre los elementos de horas -->
            <option *ngFor="let hora of horas" [value]="hora">{{ hora }}:00</option>
          </select>
        </div>
        <div class="n">
          <p>Selecciona un día</p>
          <select [(ngModel)]="fechaSeleccionada" name="fecha" required>
            <!-- Usando *ngFor para iterar sobre los elementos de dias -->
            <option *ngFor="let dia of dias" [value]="dia">{{ dia | date: 'dd/MM/yyyy' }}</option>
          </select>
        </div>
        <button type="submit">Enviar</button>
      </div>
    </div>
  </form>