<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Aplicaciones</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Aplicaciones</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>


<div class="grid-container">
    <div class="app-item">
    <a routerLink="/Seleccion">
      <img src="../assets/img/G.png" alt="Logo de Aplicación 1" class="app-logo">
      <p class="app-name">Gestión de Aulas</p>
    </a>
    </div>
    <div class="app-item">
      <img src="ruta/al/logotipo2.png" alt="Logo de Aplicación 2" class="app-logo">
      <p class="app-name">Aplicación 2</p>
    </div>
    <!-- Agrega más aplicaciones aquí según sea necesario -->
  </div>